nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

.nav-left-items {
    padding-left: 19px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-centre-items {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right-items {
    padding-right: 30px;
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.hamburger-menu-icon {
    height: 24px;
    margin-left: 0px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.search-bar {
    height: 40px;
    width: 0;
    /*width: 0; let's the search bar shrink completely. */
    padding-left: 15px;
    margin-left: 75px;
    max-width: 540px;
    border: 1px solid rgb(198, 198, 198);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1;
    font-size: 16px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    font-size: 15px;
}

.search-bar:focus {
    outline: none;
    /* makes the black outline go away and we can use border color*/
    border: 1px solid #8BAED9;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.search-button {
    height: 40px;
    width: 65px;
    margin-right: 16px;
    margin-left: -1px;
    background-color: rgba(240, 240, 240, 0.573);
    border: 1px solid rgb(206, 206, 206);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.search-icon {
    height: 24px;
    margin: 4px 0px 0px 0px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    padding: 8px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.create-button {
    height: 35px;
    width: 98px;
    padding: 10px 12px 12px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.upload-icon {
    height: 24px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-icon {
    height: 24px;
    margin-right: 14px;
    margin-bottom: 1px;
    cursor: pointer;
}

.notifications-count {
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: rgb(225, 0, 45);
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding:1px 4px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.profile-icon {
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}